{% extends 'base.html' %} {% block body %}
<h1>{{ user.username }}님의 프로필</h1>
<label for="password" class="col-2 col-form-label">username</label>
<input
  type="text"
  class="form-control"
  id="password"
  value="{{ user.username }}"
  readonly
/>

<label for="password" class="col-2 col-form-label">email</label>
<input
  type="text"
  class="form-control"
  id="password"
  value="{{ user.email }}"
  readonly
/>
<label for="password" class="col-2 col-form-label">password</label>
<input
  type="text"
  class="form-control"
  id="password"
  value="{{ user.password }}"
  readonly
/>

{% endblock body %}
